@using MltxManager.Models.DBModel
@model MltxManager.Models.DBModel.Mltx_GoodsInfo_fresh

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="/css/box.css" rel="stylesheet" />
<script src="/Scripts/box.js"></script>
<link href="~/Content/umeditor1_2_2-utf8-net/themes/default/css/umeditor.css" rel="stylesheet" />


<script src="~/Content/umeditor1_2_2-utf8-net/third-party/jquery.min.js"></script>
<script src="~/Content/umeditor1_2_2-utf8-net/umeditor.config.js"></script>
<script src="~/Content/umeditor1_2_2-utf8-net/umeditor.js"></script>
<script src="~/Content/umeditor1_2_2-utf8-net/lang/zh-cn/zh-cn.js"></script>
<link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/dropzone/dropzone.js" charset="utf-8"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.metadata.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/assets/plugins/select2/select2_metro.css" />
<style>
    .dropzone .dz-preview {
        margin: 5px;
    }

    #edui-dialog-image {
        margin-top: 600px;
    }

        #edui-dialog-image .edui-image-dragTip {
            text-shadow: 0px 2px 3px #ffffff;
        }
</style>
<div class="container-fluid" id="gaodu">
    <div class="rule">
        <!-- BEGIN PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="titles" style="margin: 0px; margin-bottom: 10px;">修改 <small>修改商品信息</small>
                    <a href="/Mltx_Merchandise/Information" class="btn default" style="float: right;"><i class="icon-arrow-left"></i>返回</a>
                </h3>

                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="/Global/Index">首页</a>
                    </li>
                    <i class="icon-angle-right"></i>
                    <li><a href="/Mltx_Merchandise/Information">商品管理</a></li>
                    <i class="icon-angle-right"></i>
                    <li><a href="#">修改商品信息</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>

        <!-- END PAGE HEADER-->
        <!-- BEGIN DASHBOARD STATS -->
        <div class="row  col-md-12" style="padding-left: 10%;">
            <div class="portlet-body form ">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">商品名称</label>
                            <div class="col-md-5">

                                <input type="text" id="name" minlength="1" class="form-control" value="@Model.GoodsName" placeholder="商品名称" />
                                <span class="span-point">*</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">商品规格</label>
                            <div class="col-md-5">

                                <input type="text" id="guige" class="form-control" value="@Model.GoodsGuige" placeholder="商品规格"/>
                                <span class="span-point">*</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">商品销售价</label>
                            <div class="col-md-5">

                                <input type="text" id="Rprice" class="form-control" value="@Model.Rprice" placeholder="商品销售价" />
                                <span class="span-point">*</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">商品市场价</label>
                            <div class="col-md-5">

                                <input type="text" id="Mprice" min="0" class="form-control digits required" value="@Model.Mprice" placeholder="商品市场价" />
                                <span class="span-point">*</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">商品库存</label>
                            <div class="col-md-5">

                                <input type="text" id="kuchun" min="0" class="form-control digits required" value="@Model.GoodsStock" placeholder="商品库存"/>
                                <span class="span-point">*</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">商品图片</label>
                            <div class="col-md-9">
                                @if (ViewBag.tupian.Length == 0)
                                {
                                    <span id="fenzuxx" style="font-size: 14px; color: red">没有商品图片,请选择</span>
                                }
                                else
                                {
                                    for (int i = 0; i < ViewBag.tupian.Length - 1; i++)
                                    {
                                    <div class="col-md-2" style="margin: 3px;">
                                        <div class="col-md-12">
                                            <img src="@ViewBag.tupian[i]" style="width: 120px; height: 106px" alt="Alternate Text"/>
                                        </div>
                                        <div class="col-md-12 text-center" style="width: 160px; padding: 0px; margin-top: 3px">
                                            <button type="submit" atr="@ViewBag.tupian[i]" class="yinchang btn green">删除</button>
                                        </div>

                                    </div>
                                    }
                                }

                                <input type="hidden" id="tupian" value="" />
                            </div>
                        </div>
                        <div class="form-group" id="xiugaitupianquyu">
                            <label class="col-md-2 control-label">点击修改商品图片</label>
                            <div class="col-md-5">
                                <button type="submit" class="btn green" id="xiugaitupian">点击修改商品图片</button>

                            </div>
                        </div>

                        <div class="form-group tupianquyu">
                            <label class="col-md-2 control-label">选择新的商品图片</label>
                            <div class="col-md-5">
                                <form action="/" method="post" enctype="multipart/form-data" class="dropzone dz-clickable dz-started myDropzone" id="myDropzone" style="border: 2px dashed #0087F7; border-radius: 5px; padding: 5px 5px; width: 664px; height: 311px">
                                    <input type="hidden" name="shumu" value="0" />
                                </form>

                            </div>
                        </div>
                        <div class="form-group tupianquyu">
                            <label class="col-md-2 control-label">上传按钮</label>
                            <div class="col-md-5">
                                <button type="submit" class="btn green" id="shangchuan">上传</button>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">列表图片</label>
                            <div class="col-md-5">
                                @if (!string.IsNullOrWhiteSpace(Model.GoodsListPic))
                                {
                                    <img src="@Model.GoodsListPic" class="text-center" style="width: 120px; height: 106px; color: red" alt="没有列表图片"/>
                                }
                                else
                                {
                                    <span id="fenzux" style="font-size: 14px; color: red">没有列表图片,请选择</span>
                                }

                                <input type="hidden" id="liebiao" value="@Model.GoodsListPic"/>
                            </div>
                        </div>
                        <div class="form-group" id="liebiaotupianquyu">
                            <label class="col-md-2 control-label">点击修改列表图片</label>
                            <div class="col-md-5">
                                <button type="submit" class="btn green" id="liebiaotupian">点击修改列表图片</button>

                            </div>
                        </div>
                        <div class="form-group liebiaotupian">
                            <label class="col-md-2 control-label">列表图片</label>
                            <div class="col-md-5">
                                <form action="~/Mltx_FreshFruit/FigureUploadedFile" method="post" enctype="multipart/form-data" class="dropzone dz-clickable dz-started" id="myDropzone1" style="border: 2px dashed #0087F7; border-radius: 5px; padding: 5px 5px; width: 140px; height: 170px">
                                    <input type="hidden" name="shumu" value="1" />
                                </form>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">选择分组</label>
                            <div class="col-md-5">
                                <select id="se1" name="first" class="form-control select2me">
                                    @foreach (var r in ViewBag.yiji)
                                    {
                                        if (Model.GroupId == r.Id)
                                        {
                                        <option value="@r.Id" selected="selected">@r.Val</option>
                                        }
                                        else
                                        {
                                        <option value="@r.Id">@r.Val</option>
                                        }

                                    }
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">详细信息</label>
                            <div class="col-md-5">
                                <script type="text/plain" id="myEditor" style="width: 600px; height: 300px; max-height: 300px;">
                                    @Html.Raw(Model.GoodsInfo)
                                </script>

                            </div>
                        </div>
                        <div class="form-group" id="Isenable1">
                            <label class="col-md-2 control-label">库存计算方式</label>
                            <div class="col-md-5">

                                <div class="radio-list">

                                    @if (@Model.StockMethod == StockMethod.下单减)
                                    {
                                        <label class="radio-inline">
                                            <span class="quanzi">
                                                <input type="radio" name="kuchunjisuan" class="zhuangtai" value="0" checked>
                                                下单减
                                            
                                            </span>
                                        </label>
                                        <label class="radio-inline">
                                            <span class="baohan">
                                                <input type="radio" name="kuchunjisuan" class="zhuangtai" value="1">
                                                支付减</span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="radio-inline">
                                            <span class="quanzi">
                                                <input type="radio" name="kuchunjisuan" class="zhuangtai" value="0">
                                                下单减
                                            
                                            </span>
                                        </label>
                                        <label class="radio-inline">
                                            <span class="baohan">
                                                <input type="radio" name="kuchunjisuan" class="zhuangtai" value="1" checked>
                                                支付减</span>
                                        </label>
                                    }



                                </div>

                            </div>
                            <!--隐藏域，保存状态值--->
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">积分比率</label>
                            <div class="col-md-5">

                                <input type="text" id="jifen" min="0" value="@Model.Rate" class="form-control required number" placeholder="添1表示1倍积分" />
                                <span class="span-point">*</span>
                            </div>
                        </div>
                        <div class="form-group" id="Isenable">
                            <label class="col-md-2 control-label">上架状态</label>
                            <div class="col-md-5">

                                <div class="radio-list">
                                    @if (@Model.Enable == Added.上架)
                                    {
                                        <label class="radio-inline">
                                            <span class="quanzi">
                                                <input type="radio" name="shangjia" class="zhuangtai" value="0" checked>
                                                上架</span>
                                        </label>
                                        <label class="radio-inline">
                                            <span class="baohan">
                                                <input type="radio" name="shangjia" class="zhuangtai" value="1">
                                                下架</span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="radio-inline">
                                            <span class="quanzi">
                                                <input type="radio" name="shangjia" class="zhuangtai" value="0">
                                                上架</span>
                                        </label>
                                        <label class="radio-inline">
                                            <span class="baohan">
                                                <input type="radio" name="shangjia" class="zhuangtai" value="1" checked>
                                                下架</span>
                                        </label>
                                    }


                                </div>

                            </div>
                            <input type="hidden" value="1" id="video_state" name="video_state" />
                            <!--隐藏域，保存状态值--->
                        </div>


                        <div class="form fluid">

                            <div class="col-md-offset-2 col-md-5">
                                <input type="hidden" value="@Model.GoodsId" id="GroupId"/>
                                <button type="submit" class="btn green" id="btngreen">修改</button>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END DASHBOARD STATS -->
    </div>
</div>


<script>
    $(function () {
        $(".yinchang").click(function () {
            $(this).text("已删除");
            $(this).attr("class", "yishanchu btn green")

        })
        $(".yishanchu").click(function () {
            $(this).text("删除");
            $(this).attr("class", "yinchang btn green")
        })
        //图片的显示和隐藏
        $(".tupianquyu").hide();
        $(".liebiaotupian").hide();
        $("#liebiaotupian").click(function () {
            $(".liebiaotupian").show();
            var cmd = parent.document.getElementById("win");
            cmd.height = $("#gaodu").height() + 130;
            $("#edui-dialog-image").css("margin-top", 830);
            $("#liebiaotupianquyu").hide();
        })
        $("#xiugaitupian").click(function () {
            $(".tupianquyu").show();
            var cmd = parent.document.getElementById("win");
            cmd.height = $("#gaodu").height() + 400;
            $("#edui-dialog-image").css("margin-top", 1130);
            $("#xiugaitupianquyu").hide();
        })

        //信息修改提交
        $("#btngreen").click(function () {
            var c = "";
            $(".yinchang").each(function (element) { c = $(this).attr("atr") + "|" + c });
            c = c + $("#tupian").val();
            if ($("#name").val() != "") {

                if ($("#kuchun").val().toString() != "") {
                    if ($('input[name="kuchunjisuan"]:checked').val().toString() != "") {
                        if ($("#jifen").val().toString() != "") {
                            $.post("/Mltx_FreshFruit/UpdateCommodityModify", {
                                name: $("#name").val(),
                                guige: $("#guige").val().toString(),
                                kuchun: $("#kuchun").val().toString(),
                                tupian: c,
                                liebiao: $("#liebiao").val().toString(),
                                fenzu: $("#se1").val().toString(),
                                rprice: $("#Rprice").val().toString(),
                                mprice: $("#Mprice").val().toString(),
                                xiangxi: UM.getEditor('myEditor').getContent().toString(),
                                fangs: $('input[name="kuchunjisuan"]:checked').val().toString(),
                                jifen: $("#jifen").val().toString(),
                                zhuangtai: $('input[name="shangjia"]:checked').val().toString(),
                                groupId: $("#GroupId").val().toString()
                            }, function (r) {
                                if (r == "ajaxerror") {
                                    box.alert("对不起,你的权限不够", "error");
                                } else if (r == 0) {
                                    box.alert("修改成功,1秒后刷新");
                                    setTimeout(function () { location.href = "/Mltx_FreshFruit/Information" }, 1000);
                                } else {
                                    box.alert("修改失败，请重新添加", "error");
                                }
                            })
                        } else {
                            box.alert("积分比率不可为空", "error");
                        }


                    } else {
                        box.alert("库存计算方式不能为空", "error");

                    }
                } else {
                    box.alert("库存不能为空", "error");
                }
            } else {
                box.alert("名称不可以为空", "error");
            }


        })
    });

    //Dropzone的初始化，myDropzone为form的id
    Dropzone.options.myDropzone = {
        //指定上传图片的路径
        url: "@Url.Action("FigureUploadedFile", "Mltx_FreshFruit")",

        //添加上传取消和删除预览图片的链接，默认不添加
        addRemoveLinks: true,
        //关闭自动上传功能，默认会true会自动上传
        //也就是添加一张图片向服务器发送一次请求
        autoProcessQueue: false,
        //允许上传多个照片
        uploadMultiple: true,

        //每次上传的最多文件数，经测试默认为2，坑啊
        //记得修改web.config 限制上传文件大小的节
        parallelUploads: 10,

        init: function () {
            var submitButton = document.querySelector("#shangchuan")
            myDropzone = this; // closure

            //为上传按钮添加点击事件
            submitButton.addEventListener("click", function () {
                //手动上传所有图片
                myDropzone.processQueue();
            });

            //当添加图片后的事件，上传按钮恢复可用
            this.on("addedfile", function () {
                $("#shangchuan").removeAttr("disabled");
            });

            //当上传完成后的事件，接受的数据为JSON格式
            this.on("complete", function (data) {
                if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                    var res = eval('(' + data.xhr.responseText + ')');
                    if (res.Result) {
                        $("#tupian").val(res.mingcheng);
                    } else {
                        box.alert("图片上传失败", "error");

                    }
                }
            });

            //删除图片的事件，当上传的图片为空时，使上传按钮不可用状态
            this.on("removedfile", function () {
                if (this.getAcceptedFiles().length === 0) {
                    $("#shangchuan").attr("disabled", true);
                }
            });
        }
    };
    Dropzone.options.myDropzone1 = {
        //添加上传取消和删除预览图片的链接，默认不添加
        url: "@Url.Action("FigureUploadedFile", "Mltx_FreshFruit")",
        addRemoveLinks: true,
        init: function () {
            this.on("complete", function (data) {
                if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                    var res = eval('(' + data.xhr.responseText + ')');
                    if (res.Result) {
                        $("#liebiao").val(res.mingcheng);
                    }
                    else {
                        box.alert("图片上传失败", "error");
                    }
                }
            });
        }
    };
</script>
<script type="text/javascript">
    var um = UM.getEditor('myEditor').setHeight(300).setWidth(600);

</script>
